*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background: #3d4543;
    overflow: hidden;
}

form{
    position: relative;
    background: #222;
    padding: 15px 10px 10px 10px;
}

form p{
    text-align: center;
    color: #fff;
    padding: 5px 5px 7px 5px;
    font-size: 20px;
    font-weight: 900;
    font-family: arial;
}

form input{
    width: 100%;
    height: 85px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #000;
    background: #bccd95;
    text-align: right;
    pointer-events: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: none;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    border-top:2px solid transparent; 
}

.btn.btn-gray{
    color:white;
    background-color:#6f6f6f;
    border-bottom:black 2px solid;
    border-top:2px #6f6f6f solid;
}

.btn.btn-pink{
    color:black;
    background-color:#ff4561;
    border-bottom:black 2px solid;
}

.btn.btn-black{
    color:white;
    background-color:#303030;
    border-bottom:black 2px solid;
    border-top:2px #303030 solid;
}

.btn.btn-orange{
    color:black;
    background-color:#FF9933;
    border-bottom:black 2px solid;
    border-top:2px #FF9933 solid;
}

.btn-gray:active{
    border-top:black 2px solid;
    border-bottom:2px #6f6f6f solid;
}

.btn-pink:active{
    border-top:black 2px solid;
    border-bottom:#ff4561 2px solid;
}

.btn-black:active{
    border-top:black 2px solid;
    border-bottom:#303030 2px solid;
}

.btn-orange:active{
    border-top:black 2px solid;
    border-bottom:#FF9933 2px solid;
}